body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;

  background: #2d2d2d;
}
h1{
  margin: 0;
}


#root2{
  position: fixed;
  top:50%;
  left: 50%;
  margin-left: -100px;
  margin-top:-100px;

  color: #fff;
  background: #61dafb;

  width: 200px;
  height: 200px;
  border-radius: 50%;
}

#root2 h1{
  text-align: center;
  line-height: 200px;
}
